.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0  ;
    }
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

@keyframes rotate {
    from {
        filter: drop-shadow(10px 5px 3px black);
        transform: rotate(0deg);
    }
    50% {
        filter: drop-shadow(8px 5px 3px black);
        transform: rotate(180deg);
    }

    80% {
        filter: drop-shadow(5px 5px 2px black);
    }

    to {
        filter: drop-shadow(10px 5px 2px black);
        transform: rotate(360deg);
    }
  }

.rotate::after {
    animation: rotate 10s infinite linear;
}


.rotate_only{
    animation: rotate 3s infinite linear;
}

@keyframes cdp-in {
    from {
      transform: scale(1.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }