// Colors stored inside a variable to make the code more readable and maintainable
$yellow : hsl(45, 94%, 56%);
$white : hsl(34, 21%, 94%);
$dark :hsl(225, 13%, 6%);
$grey : hsla(0, 0%, 100%, 0.581);
$grayishblack: hsla(0, 0%, 83%, 0.144);
$lightyellow: hsla(45, 94%, 56%, 0.531);
$lightgrey: hsla(44, 21%, 10%, 0.184);
$blackyellow: hsla(44, 22%, 10%, 0.327);
$greenishblack: hsla(84, 10%, 10%, 0.149);