@use "../util/" as u; // Importing the utility styles and mixins from util folder and assigning it an alias of u. 


/*Styling for the hero section*/
/*Default are the mobile styles*/

/*Added breakpoints and styles for tablet and mobile screens from breakpoints.scss file*/
.hero {
  overflow: hidden;

  .container {

    // Styles for desktop
    @include u.breakpoint-up(large) {
      display: grid;
      position: relative;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    min-height: 22rem;

    // Styles for tablet devices
    @include u.breakpoint-up(medium) {
      height: 32rem;
    }
    // Styles for destop
    @include u.breakpoint-up(large) {
      grid-column-start: 1;
      grid-column-end: 3;
      height: 50rem;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/images/fast-food.png");
      background-size: 54%;
      background-repeat: no-repeat;
      background-position: center center;

      // Styles for tablet devices
      @include u.breakpoint-up(medium) {
        background-size: 46%;
      }

      // Styles for desktop
      @include u.breakpoint-up(large) {
        background-size: 30%;
        background-position: center center;
        left: 25%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/images/wood_1920.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      @include u.breakpoint-up(large) {
        left: -20%;
        right: -20%;
        width: auto;
      }
    }
  }

  &__text {
    text-align: center;

    // Styles for desktop
    @include u.breakpoint-up(large) {
      grid-column-start: 1;
      grid-column-end: 2;
      text-align: left;
      position: absolute;
    }

    span {
      font-family: u.$font-cav; // Took the font-style from the fonts.scss file in util folder
      color: u.$yellow; // Took the colors from the colors.scss file in util folder
    }
  }
  
  &__btn {

    /*Styles for desktop*/
    @include u.breakpoint-up(large) {
      justify-content: start;
    }
  }
}
