@use "../util/" as u;

.popmenus {
    background-color: u.$blackyellow; // Took the colors from the colors.scss file in util folder
}


.popmenu {

    &__intro{
        text-align: center;
        font-family: u.$font-cav; // Took the font-style from the fonts.scss file in util folder


        h3 {
            color: u.$yellow; // Took the colors from the colors.scss file in util folder
        }


    }

    &__grid{
        display: grid;
        gap: 3rem;

        // Styles for tablet
        @include u.breakpoint-up(medium){
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
        }
        
        // Styles for desktop
        @include u.breakpoint-up(large){
            display: grid;
            grid-template-columns: repeat(3,auto);
            grid-template-rows: repeat(2,1fr);
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }

    &__item{
        border-radius: 20px 20px 10px 10px;
        overflow: hidden;
        border: 1px solid u.$lightyellow; // Took the colors from the colors.scss file in util folder
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    &__image{
        height: 20rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__text{
        background-color: u.$grayishblack; // Took the colors from the colors.scss file in util folder
        height: 17.5rem;

        @include u.breakpoint-up(large){
            height: 25rem;
        }
    }

    &__title{
        justify-content: space-between;
        font-family: u.$font-mon; // Took the font-style  from the fonts.scss file in util folder

        h2 {
            color: u.$white; // Took the colors from the colors.scss file in util folder
        }
        h2:nth-child(2) {
            color: u.$yellow; // Took the colors from the colors.scss file in util folder
        }
    }
    &__description{
        font-family: u.$font-mon;// Took the font-style from the fonts.scss file in util folder
    }
    &__rating{
        background-color: u.$grayishblack; // Took the colors from the colors.scss file in util folder
    }
    &__stars{
        
        span:not(:last-child) {
            color: u.$yellow; // Took the colors from the colors.scss file in util folder
        }

    }
}