@use "../util/" as u;

.testimonials {
  width: 100%;
  background-color: u.$greenishblack; // Took the colors from the colors.scss file in util folder
}

.testimonial {
  width: 100%;
  position: relative;
  padding: 50px 0;
  overflow: hidden;

  &__image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    object-position: 40% center;
    border-radius: 50%;
    border: 4px solid u.$yellow; // Took the colors from the colors.scss file in util folder
  }

  &__slide {
    flex-direction: column;
    row-gap: 30px;

    p {
      padding: 0 100px;
      text-align: center;
      font-size: u.$font-med; // Took the font-size from the fonts.scss file in util folder
      font-weight: 400;
      color: u.$white; // Took the colors from the colors.scss file in util folder
      font-family: u.$font-mon;  // Took the font-size from the fonts.scss file in util folder
    }

    .quote-icon {
      font-size: 30px;
      color: u.$yellow; // Took the colors from the colors.scss file in util folder
    }
  }
  &__details {
    display: flex;
    flex-direction: column;

    .name {
      font-size: u.$font-med;  // Took the font-size from the fonts.scss file in util folder
      font-weight: 600;
      color: u.$white; // Took the colors from the colors.scss file in util folder
      font-family: u.$font-mon;  // Took the font-style from the fonts.scss file in util folder
    }
  }
  &__rating {
    color: u.$yellow; // Took the colors from the colors.scss file in util folder
    font-size: u.$font-med;  // Took the font-size from the fonts.scss file in util folder
  }

  &__next{
    color: u.$yellow; // Took the colors from the colors.scss file in util folder
  }

  &__prev{
    color: u.$yellow; // Took the colors from the colors.scss file in util folder
  }
}
